:root {
    --fs-medium: 13px;
    --fw-medium: 200;
    --fw-bold: 600;
    --bg-dark1: #1e1e1e;
    --bg-dark2: #353535;
    --bg-dark3: #424242;
    --bg-dark3_5: #666666;
    --bg-dark4: #b7b7b7;
    --bg-dark5: #c5c5c5;
    --bg-dark6: #ffffff;
    --bg-transparent: transparent;
    --br-radius: 12px;
    --br-width: 1.5px;
    --pram-com-section: 22px;
    --pram-com-wrapper: 60px;
    --pram-sub-com-card: 55px;
    --param-web-view-wrapper: 100px;
    --logo-demention: 120px;
}

* {
    font-size: var(--fs-medium);
    color: #b7b7b7;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark1);
}

.suse-medium,
.suse-bold {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--fw-medium);
    font-style: normal;
}

.suse-bold {
    font-weight: var(--fw-bold);
}

.main-flow {
    height: 100dvh;
    background-color: var(--bg-dark1);
}

.sub-flow {
    height: 100%;
    background-color: var(--bg-dark2);
    border-radius: var(--br-radius);
    position: relative;
    overflow: hidden;
}

.br-1,
.br-2,
.br-3 {
    border-style: solid;
    border-width: var(--br-width);
    border-color: var(--bg-dark3);
}

.br-2 {
    border-color: var(--bg-dark3_5);
}

.com-section {
    height: calc((100dvh / 3) - var(--pram-com-section));
}

.com-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc((100dvh / 3) - var(--pram-com-wrapper));
    border-radius: var(--br-radius);
}

.sub-com-card {
    height: calc((100dvh / 3) - var(--pram-com-wrapper));
    background-color: var(--bg-dark3);
    border-radius: var(--br-radius);
    position: relative;
    overflow: hidden;
}

.com-wrapper::-webkit-scrollbar {
    width: 0;
    background: var(--bg-transparent);
}

.com-wrapper::-webkit-scrollbar-thumb {
    background: var(--bg-transparent);
}

textarea::-webkit-scrollbar {
    width: 0;
    background: var(--bg-transparent);
}

textarea::-webkit-scrollbar-thumb {
    background: var(--bg-transparent);
}

.input-engine {
    background-color: var(--bg-transparent);
    border: none;
    outline: none;
    color: var(--bg-dark5);
    text-align: start;
    word-break: normal;
    word-wrap: break-word;
    font-size: calc(var(--fs-medium) - 2px);
}

.web-view-wrapper {
    background-color: var(--bg-dark3);
    border-radius: var(--br-radius);
    width: 100%;
    height: calc(100dvh - var(--param-web-view-wrapper));
}

.web-view-engine {
    background-color: var(--bg-dark6);
    width: 100%;
    height: 100%;
}

.web-view-com {
    width: 100%;
    background-color: red;
}

.btn-1 {
    border: none;
    outline: none;
    background-color: transparent;
}

.fs-com,
li {
    font-size: calc(var(--fs-medium) - 2px);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bg-dark1);
    --bs-tooltip-color: var(--bg-dark4);
}

.web-humpty-logo {
    width: var(--logo-demention);
    height: var(--logo-demention);
    border-radius: calc(var(--logo-demention) / 2);
    background-image: url("../resource/img/logo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.br-3 {
    border-width: calc(var(--br-width) + 3px);
    border-color: var(--bg-dark3_5);
}

a {
    color: var(--bg-dark5);
    text-decoration: none;
}

a:hover {
    color: var(--bg-dark6);
    text-decoration: underline;
}

.application-restriction-wrapper {
    z-index: 999;
    position: absolute;
    background-color: var(--bg-dark2);
    width: 100%;
    height: 100%;
}


/* Extra Small devices (576px and up) */

@media (max-width: 576px) {
    .application-restriction-wrapper {
        display: block;
    }
    .main-flow {
        width: 100%;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .application-restriction-wrapper {
        display: block;
    }
    .main-flow {
        width: 100%;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .application-restriction-wrapper {
        display: block;
    }
    .main-flow {
        width: 100%;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .application-restriction-wrapper {
        display: none;
    }
    .main-flow {
        width: 100%;
    }
}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .application-restriction-wrapper {
        display: none;
    }
    .main-flow {
        width: 100%;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .application-restriction-wrapper {
        display: none;
    }
    .main-flow {
        max-width: 1500px;
    }
}